<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<div th:if="${param.error}">
    Invalid username and password.</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<p>Admin username and password = applicant</p>
<p>User username and password = employer</p>
<form th:action="@{/login}" method="post">
    <div>
        <lable>Username:<input type ="text" name="username"/></lable>
    </div>
    <div>
        <lable>Password:<input type ="password" name="password"/></lable>

    </div>

    <div> <input type="submit" value = "Sign In"/></div>


</form>

</body>
</html>